<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laia Rodríguez Ramos</title>
</head>
<body>
    {% include "header/header.html" %}
    <h1>API CENTRE</h1>
    {% block content %}

    {% endblock %}
    <!-- 
        <h1>Hola {{ professor.nom }} {{ professor.cognom }}</h1>
        <h3>M'agrada Django. Pista: NO. Tinc {{ professor.edat }} anys.</h3>
        <h4>P00-P01</h4> 
    -->
</body>
</html>